{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
 {riak_core, "0.13.0", {git, "git://github.com/basho/riak_core", "HEAD"}},
 {thrift_erl, "0.5.0", {git, "git://github.com/sjmackenzie/thrift_erl", "HEAD"}},
 {phoebus_algos, "0.0.1", {git, "git://github.com/sjmackenzie/phoebus_algos", "HEAD"}}
]}.
